@model PageViewModel

@foreach (Book book in @Model.Books)
{
  <h2>@book.Name</h2>
  <h3>@book.Author</h3>
  <section>
    @book.Type
    <p>@book.Description</p>
    <i>@book.Price.ToString(".##")</i>
  </section>
}

@await Component.InvokeAsync(nameof(Paging), new { @Model.Info })
