@model PageViewModel

<article class="home">
  @foreach (Book book in @Model.Books)
  {
    <section>
      <h2>@book.Name</h2>
      <p>
        @book.Type
        <br>
        <i>Price: @book.Price.ToString(".##")</i>
      </p>
      <a asp-action="detail" asp-route-id="@book.Id">Detail</a>
    </section>
  }
</article>

@await Component.InvokeAsync(nameof(Paging), new { @Model.Info })
